{% extends "base.html" %}

{% load account socialaccount %}

{% block content %}

<h3>Sign In</h3>

{% include "socialaccount/snippets/login_extra.html" %}

<p class="text-secondary">If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary primaryAction" type="submit">Sign In</button>
  <div class="mt-3"><a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a></div>
</form>

{% endblock %}