{% extends "account/base.html" %}
{% load account socialaccount %}
{% block content %}
<div class="col-md-12">
  <h3 class="text-center">Sign Up</h3>

  <div class="col-md-12 py-3">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
  <hr>
  <a href="http://127.0.0.1:8000/accounts/github/login/?process=login" class="btn btn-secondary form-control my-3"><i class="fab fa-github"></i> Sign up with Github</a>
  <p class="text-secondary text-center">Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
</div>
{% endblock %}


<!-- http://127.0.0.1:8000/accounts/github/login/?process=login

