[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.7"
gunicorn = "==19.9.0"
django-allauth = "*"
whitenoise = "*"
"psycopg2" = "*"
dj-database-url = "*"
djangorestframework = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
