{% extends "base.html" %}

{% block content %}
<p>CSQA is an open-source Q&A website for coders and CS learners.</p>
<p>Whether you have a question about a specific language, setting up your dev environment, or anything else, try asking it here!</p>
<p>You should also join our Discord server if you haven't yet here: <a href="https://csdojo.io/d" target="_blank">https://csdojo.io/d</a></p>
<p>If you have any feature requests or bug reports, please tweet at <a href="https://twitter.com/ykdojo" target="_blank">@ykdojo</a>, ping me on <a href="https://csdojo.io/d" target="_blank">Discord</a> or let me know on <a href="https://csdojo.io/contact" target="_blank">this form</a>.</p>
{% endblock %}