{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- development version, includes helpful console warnings -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <title>{% block title %}CSQA - An open-source Q&A website for coders{% endblock %}</title>
    </head>
    <body class="bg-light">
        <div class="container" style="max-width:700">
            <div class="card shadow-sm" style="margin-top: 20px">
                <div class="card-header">
                    <h6 style="margin-bottom: 0; margin-top: 7; display: inline-block">
                        <a href="/" class="text-dark">CSQA
                            {% if not current_user.is_authenticated %}
                            <span class="site-title-second-half"> - An open-source Q&A website for coders</span>
                            {% endif %}
                        </a>
                    </h6>
                    <span style="float: right">
                        <span class="csqa-nav">
                            <a href="{% url 'search' %}" class="text-dark">Search</a> |
                            {% if current_user.is_authenticated %}
                            <a href="{% url 'my-questions' %}" class="text-dark">My Questions</a> |
                            <a href="{% url 'my-answers' %}" class="text-dark">My Answers</a> |
                            {% endif %}
                            <a href="/question/new" class="text-dark" style="display: inline-block">
                                New Question
                            </a>
                        </span>
                    </span>
                </div>
                <div class="pb-2 pt-4 pr-4 pl-4">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="container text-right" style="max-width:700; padding-right:21; padding-top:2; font-size:14; color: #6c757d; margin-bottom: 7px;">
                <a href="/" class="text-secondary">Home</a> | 
            {% if current_user.is_authenticated %}
                <a href="/accounts/logout" class="text-secondary">Log out ({{current_user.username}}, {{current_user.points}} points)</a> | 
            {% else %}
                <a href="/accounts/signup" class="text-secondary">Sign up / log in</a> | 
            {% endif %}
                <a href="https://github.com/ykdojo/csqa" class="text-secondary" target="_blank">Source code</a> | 
            <a href="/about" class="text-secondary">About</a> |
            <a href="/leaderboard" class="text-secondary">Leaderboard</a>
        </div>
    </body>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
</html>