{% extends "base.html" %}
{% block content %}
<h5>{{question.title}}</h5>
<div style="margin-bottom: 7px; font-size: 17px">{{question.body}}</div>
<div class='text-secondary' style="font-size: 14px">Posted by {{ question.user }}<span style="margin-right: 6px; margin-left: 6px;">|</span></span>{{ question.x_ago }}</div>

{% for answer in answers %}
    <hr/>
    <div class='answer-block'>
      <div class='text-secondary' style="font-size: 14px">{{ answer.user }}<span style="margin-right: 6px; margin-left: 6px;">|</span></span>{{ answer.x_ago }}</div>
      <div class="answer-text" style="margin-bottom: 20px">{{ answer.text }}</div>
    </div>
{% endfor %}

<hr style="margin-bottom: 20"/>
{% if current_user.is_authenticated %}
<form action="/question/{{question.id}}/answer" method="post">
  {% csrf_token %}
  <div class="form-group">
    <textarea class="form-control" id="text" name="text" rows="7" placeholder="Type your answer here." required></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
{% else %}
<p><a href="/accounts/login">Log in to answer this question</a></p>
{% endif %}
{% endblock %}
