{% extends "base.html" %}
{% block content %}
<h5>{{question.title}}</h5>
<div style="margin-bottom: 5px; font-size: 17px">{{question.body | urlize }}</div>
<div class='text-secondary' style="font-size: 14px">
  posted by {{ question.user }}</span><span class="separator">|</span>{{ question.x_ago }}
  <span class="separator">|</span>
  <form name="upvote" action="/question/{{question.id}}/vote" method="post" style="display: inline">
    <input hidden name="type" value="up">
    {% csrf_token %}<a href="#" class="text-secondary" onclick="upvote.submit()">upvote</a>
  </form>
  <span class="separator">|</span>
  <form name="upvote" action="/question/{{question.id}}/vote" method="post" style="display: inline">
    <input hidden name="vote_type" value="down">
    {% csrf_token %}<a href="#" class="text-secondary" onclick="upvote.submit()">downvote</a>
  </form>
</div>

{% for answer in answers %}
    <hr/>
    <div class='answer-block'>
      <div class='text-secondary' style="font-size: 14px">{{ answer.user }}</span><span class="separator">|</span>{{ answer.x_ago }}</div>
      <div class="answer-text" style="margin-bottom: 20px">{{ answer.text | urlize }}</div>
    </div>
{% endfor %}

<hr style="margin-bottom: 20"/>
{% if current_user.is_authenticated %}
<form action="/question/{{question.id}}/answer" method="post">
  {% csrf_token %}
  <div class="form-group">
    <textarea class="form-control" id="text" name="text" rows="7" placeholder="Type your answer here." required></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
{% else %}
<p><a href="/accounts/login">Log in to answer this question</a></p>
{% endif %}
{% endblock %}
